
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(90deg, #ffb703, #a3d5ff, #8cffc1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-bottom: 4px solid #ff8400;
    height: 80px; 
  padding: 0 16px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 2px #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 14px;
  margin: 0;
  padding: 0; /* Fixed boşluq problemi */
}

.nav-links li a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  background-color: #ff8400;
  padding: 8px 12px;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-links li a:hover {
  background-color: #ffd166;
  color: #222;
  transform: scale(1.05);
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  padding: 20px;
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #8cffc1;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
  .lang-dropdown {
      min-width: 120px;
  }
}
.lang-menu {
  position: relative;
  color: white;
  font-size: 17px;
  background-color: #ff8400;
  padding: 8px 12px;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

/* Açılan menyu navbar daxilində olsun */
.lang-dropdown {
  position: absolute;
  top: 35px; /* navbar içindən bir qədər aşağıda */
  left: 0;
  background-color: white;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width:70px;
  z-index: 999;
}

.lang-dropdown li {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
  white-space: nowrap;
 

}

.lang-dropdown li:hover {
  background-color:#ffd166;
}
