.home-container {
  padding: 50px;
  background: linear-gradient(to bottom, #fceabb, #f8b500);
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

.home-title {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.cartoons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* tam olaraq 3 sütun */
  gap: 40px;
}

.cartoon-card {
  background: white;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
}

.cartoon-card:hover {
  transform: scale(1.05);
}

.cartoon-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
