.header {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  aspect-ratio: 16 / 9; /* Ekrana uyğun proporsional ölçü */
  position: relative;
  max-height: 700px;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
/* Navigation düymələrinin ümumi görünüşü */
.swiper-button-next,
.swiper-button-prev {
  color: white; /* İkonun rəngi */
  background-color: bisque; /* Arxa fon */
  padding: 12px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
}

/* Hover zamanı effekt */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;

}

/* Düğmələrin ekranda yeri */
.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px; /* Default 20-24px olur. Kiçiltmək üçün bu dəyəri azalt. */
  color: white; /* İstəsən rəngi də dəyişə bilərsən */
}

/* Kiçik ekranlar üçün düymələri bir az balacalaşdıraq */
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    padding: 8px;
  }
}
